@charset "utf-8";

/****************************************************************
************************ MAIN HEAD ******************************
****************************************************************/

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.menu-container .max-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.logo {
    border: 3px solid #ddd;
    display: block;
    text-align: center;
    border-radius: 100%;
    padding: 30px;
    max-width: 435px;
}

.logo span {
    font-family: 'Alex Brush', cursive;
    color: #ddd;
    line-height: 75px;
    font-size: 80px;
}

.logo p {
    font-size: 13px;
    color: #ddd;
    width: 350px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-container .intro-texto {
    color: #ddd;
    font-size: 20px;
    max-width: 400px;
    font-weight: 100;
    font-style: italic;
    line-height: 25px;
}

.seta-down {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -7px;
    border-right: 2px solid white;
    border-bottom: 2px solid #ddd;
    animation-name: seta;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes seta {
    0% {
        transform: translateY(-10px) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0px) rotate(45deg);
        opacity: 0;
    }
}


/****************************************************************
************************ MAIN CONTAINER *************************
****************************************************************/

.title {
    font-family: 'Alex Brush', cursive;
    color: #eee;
    font-size: 30px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 40px;
    background: #221e14;
    padding: 0px 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px 15px 15px 0;
    letter-spacing: 2px;
}

.filter-container .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

.home-post {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
    padding-bottom: 15px;
    cursor: pointer;
    background: #fff;
}

.home-post .post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}

.post-name,
.post-type,
.post-price {
    padding: 0px 15px;
    display: block;
}

.post-name {
    color: #202020;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 23px;
    height: 45px;
    overflow: hidden;
}

.post-type {
    color: #888;
    font-weight: 100;
    margin-bottom: 15px;
}

.post-price {
    color: #221e14;
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.btn-orcamento {
    padding: 0;
    border: 3px solid #0cb60c;
    height: 40px;
    width: 150px;
    background: white;
    color: #0cb60c;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: unset;
    outline: none;
}

body {
    padding-bottom: 300px;
}

@media all and (max-width:991px) {
    .main-container {
        grid-template-columns: auto;
    }
}

@media all and (max-width:768px) {
    .menu-container .max-container {
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        margin-bottom: 50px;
    }
    .intro-texto {
        text-align: center;
    }
}

@media all and (max-width:567px) {
    .logo {
        max-width: 320px;
    }
    .logo span {
        font-size: 50px;
    }
    .logo p {
        width: 210px;
    }
    .max-container {
        width: calc(100% - 20px);
    }
    .title {
        border-radius: 15px;
        text-align: center;
    }
}